[TimeParameters]
time_limit = 100

[TopologyParameters]
bronchial_tree = True
bronchial_tree_weight_method = horsfield
lymphatics = True
bloodstream = True

[EventProbabilities]
BacteriaChangeByOxygenFastToSlow = 0.1
BacteriaChangeByOxygenSlowToFast = 0.1
BacteriaReplicationFast = 0.1
BacteriaReplicationSlow = 0.1
BacteriaReplicationIntracellular = 0.1
BacteriaTranslocateBronchusFast = 0.1
BacteriaTranslocateBronchusSlow = 0.1
BacteriaTranslocateLymphFast = 0.1
BacteriaTranslocateLymphSlow = 0.1
BacteriaTranslocateHaematogenousFast = 0.1
BacteriaTranslocateHaematogenousSlow = 0.1
RegularMacrophageSpontaneousActivation = 0.1
InfectedMacrophageSpontaneousActivation = 0.1
RegularMacrophageActivationByCytokine = 0.1
InfectedMacrophageActivationByCytokine = 0.1
MacrophageRegularActivationByTCellHelper = 0.1
MacrophageInfectedActivationByTCellHelper = 0.1
ActivatedMacrophageSpontaneousDeactivation = 0.1
ActivatedMacrophageDeactivationByLackOfCytokine = 0.1
RegularMacrophageSpontaneousDeath = 0.1
InfectedMacrophageSpontaneousDeath = 0.1
ActivatedMacrophageSpontaneousDeath = 0.1
InfectedMacrophageDeathByIntracellularBacteria = 0.1
RegularMacrophageIngestFastBacteriaRetain = 0.1
RegularMacrophageIngestFastBacteriaDestroy = 0.1
RegularMacrophageIngestSlowBacteriaRetain = 0.1
RegularMacrophageIngestSlowBacteriaDestroy = 0.1
InfectedMacrophageIngestFastBacteriaRetain = 0.1
InfectedMacrophageIngestFastBacteriaDestroy = 0.1
InfectedMacrophageIngestSlowBacteriaRetain = 0.1
InfectedMacrophageIngestSlowBacteriaDestroy = 0.1
ActivatedMacrophageIngestFastBacteriaDestroy = 0.1
ActivatedMacrophageIngestSlowBacteriaDestroy = 0.1
InfectedMacrophageDestroyInternalBacteria = 0.1
RegularMacrophageRecruitmentBronchial = 0.1
RegularMacrophageRecruitmentBronchialByCytokine = 0.1
RegularMacrophageRecruitmentLymph = 0.1
RegularMacrophageRecruitmentLymphByCytokine = 0.1
RegularMacrophageTranslocateBronchus = 0.1
InfectedMacrophageTranslocateBronchus = 0.1
ActivatedMacrophageTranslocateBronchus = 0.1
RegularMacrophageTranslocateLymph = 0.1
InfectedMacrophageTranslocateLymph = 0.1
ActivatedMacrophageTranslocateLymph = 0.1
RegularMacrophageTranslocateBlood = 0.1
InfectedMacrophageTranslocateBlood = 0.1
ActivatedMacrophageTranslocateBlood = 0.1
TCellCytotoxicDestroysInfectedMacrophage = 0.1
TCellCytotoxicTranslocateBlood = 0.1
TCellCytotoxicTranslocateBronchus = 0.1
TCellCytotoxicTranslocateLymph = 0.1
TCellHelperTranslocateBlood = 0.1
TCellHelperTranslocateBronchus = 0.1
TCellHelperTranslocateLymph = 0.1
TCellCytotoxicCloning = 0.1
TCellHelperCloning = 0.1
TCellNaiveHelperRecruitmentBronchialRegular = 0.1
TCellNaiveHelperRecruitmentLymphRegular = 0.1
DendriticImmatureDeath = 0.1
DendriticMatureDeath = 0.1
ImmatureDendriticIngestFastBacteriaMaturate = 0.1
ImmatureDendriticIngestSlowBacteriaMaturate = 0.1
DendriticImmatureRecruitmentBronchial = 0.1
DendriticImmatureRecruitmentLymph = 0.1
DendriticImmatureLymphTranslocation = 0.1
DendriticMatureLymphTranslocation = 0.1
TCellCytotoxicSpontaneousDeath = 0.1
TCellHelperSpontaneousDeath = 0.1
TCellNaiveCytotoxicSpontaneousDeath = 0.1
TCellNaiveHelperSpontaneousDeath = 0.1
TCellCytotoxicActivationDendriticMature = 0.1
TCellCytotoxicActivationMacrophageInfected = 0.1
TCellHelperActivationDendriticMature = 0.1
TCellHelperActivationMacrophageInfected = 0.1
TCellNaiveCytotoxicRecruitmentBronchialByCytokine = 0.1
TCellNaiveCytotoxicRecruitmentBronchialRegular = 0.1
TCellNaiveCytotoxicRecruitmentLymphByCytokine = 0.1
TCellNaiveCytotoxicRecruitmentLymphRegular = 0.1
TCellNaiveHelperRecruitmentBronchialByCytokine = 0.1
TCellNaiveHelperRecruitmentLymphByCytokine = 0.1


[InitialSeedingMacrophages]
macrophages_per_bronchopulmonarysegment = 100
macrophages_per_bronchialtreenode = 50
macrophages_per_lymphnode = 50

[InitialSeedingBacteriaFast]
33 = 5

[InitialSeedingBacteriaSlow]

[InitialSeedingDendriticCells]